<h1 class="chg-color marge-left-title">Your bookings</h1>
<div class="container">
  <% @bookings.each do |booking| %>
    <div id="booking-<%= booking.id %>">
      <%= render "booking", booking: booking %>
    </div>
  <% end %>
</div>


