<%= render "layouts/banner"%>
<div class="container">
  <h1>All Users skills</h1>
  <div class="row">
    <% @user_skills.each do |user_skill| %>

      <div class="col-xs-12 col-sm-4">

      <%= link_to user_skill_path(user_skill.id) do %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/300/200');">
          <div class="description">
          <div class="card-category"><%= user_skill.skill.name %></div>


          <img class="card-user avatar border-user" src="https://kitt.lewagon.com/placeholder/users/atmosfeer">
          </div>
        </div>
    <% end %>
      </div>
    <%end %>
  </div>
</div>
