/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert-info {
  margin: 0;
  text-align: center;
  color: white;
  background: $green;
}

.alert-warning {
  margin: 0;
  text-align: center;
  color: white;
  background: $red;
  padding: 0;
  border:0;
}

