.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 10px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  background-color: #000;
  color: #FFF;
  transition: background 0.3s ease;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 1s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.btn-yours{
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: bold;
  background: #00bbf0;
  transition: background 0.3s ease;
}

.btn-yours:hover {
    opacity: 1;
    background: #00bbf0;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}
