.filtres {
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}

.icon {
  font-size: 20px;
  border: 2px solid white;
}

.icon a {
  color: white; important!
  s
}
