// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "button";
@import "card";
@import "list-design";
@import "form";
@import "banner";
@import "list-card-booking";
@import "headers";



.custom-radio {
  input[type=radio] {
      unicode-bidi: bidi-override;
  direction: rtl;
      border: 0;
      clip: rect(0 0 0 0);
      height: 7px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 7px;
  }
  label {
    margin-bottom: 0px;
    font-weight: normal;
    color:white;
    cursor: pointer;
  }

  input[type=radio] ~ label:before {
      font-family: FontAwesome;
      display: inline-block;
      content: '\2605';
      letter-spacing: 5px;
      font-size: 14px;
      color:black;
      margin-left: 15px;
  }

  input[type=radio]:checked ~ label:before, input[type=radio] + label:hover ~ label:before,
    input[type=radio] + label:hover:before {
      content: "\2605";
      font-size: 18px;
      content: '\2605';
      color: red;
  }
  input[type=radio]:hover > input + label:before {
    text-shadow: none;
  }
  input[type=radio]:hover > input + label:hover ~ label:before,
  input[type=radio]:hover > input + label:hover:before {
    text-shadow: 0 0 1px #333;
  }
}


