// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "button";
@import "card";
@import "list-design";
@import "form";
@import "banner";
@import "list-card-booking";
@import "headers";




.wrapper{
  display: flex;
  flex-direction: row;
  // align-items: stretch;
}

#map {
  width: 30%;
  height: 100vh;
  position: sticky !important;
  top: 0 !important;
 }

