
.list-card-booking{
  background-color: white;
height:300px;
margin-bottom: 30px;
border-radius: 4px;
}
.form-list-card-booking{
  height:300px;
}
.avatar{
  height: 80px;
  width: 80px;

  border-radius: 150%;
}
.list-card-top{
  display: inline-block;
  padding-top: 10px;
}
.not-yet{
  font-family: "Cinzel Decorative", "cursive";
  color: #cc1616;
  margin-top: 140px;
}
.edit_booking{
  margin-top: 80px;
}
