 <h2>list design</h2>

<ul class="list-unstyled ">

  <li class="product">

        <div class="product-upvote">
        <i class="fa fa-caret-up" aria-hidden="true"></i>
        <p>16</p>
        </div>

        <img src="https://picsum.photos/300/200" alt="" class="img-rounded">

        <div class="product-description">
            <h3>BookCommunity</h3>
            <p> Voici un site cool</p>
        </div>

        <ul class="list-inline product-controls">
        <li> <a href="#"><i class="fa fa-heart"></i></a></li>
        <li><a href="#"><i class="fa fa-share"></i></a></li>
        <li><a href="#"><i class="fa fa-star"></i></a></li>
        </ul>

  </li>
</ul>
